.loader{
    max-width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
}

.loader::before,.loader::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader::after{
    color: cyan;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
}

@keyframes spin{
    0%,100%{
        box-shadow: 0.2em 0px 0 0px currentColor;
    }
    10%{
        box-shadow: 0.2em 0.2em 0 0px currentColor;
    }
    25%{
        box-shadow: 0em 0.2em 0 0px currentColor;
    }
    37%{
        box-shadow: -0.2em 0.2em 0 0px currentColor;
    }
    50%{
        box-shadow: -0.2em 0 0 0px currentColor;
    }
    62%{
        box-shadow: -0.2em  -0.2em 0 0px currentColor;
    }
    75%{
        box-shadow: 0 -0.2em 0 0px currentColor;
    }
    87%{
        box-shadow: 0.2em -0.2em 0 0px currentColor;
    }
}